<script text="test/javascript">
  window.splashImage = "<%= image_url("splash.png") %>"
  window.loginImage = "<%= image_url("login_img.png") %>"
  window.logoImage = "<%= image_url("logo.png") %>"
  window.level = "<%= image_url("next-level-investing.png") %>"
  window.manual = "<%= image_url("no-manual.png") %>"

</script>

<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %></script>
<% end %>

<main id="root"></main>