<!DOCTYPE html>
<html>
  <head>
    
    <title>TradeX</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.iexAPIKeyPublishable = "<%= Rails.application.credentials.iex[:publishable_key_id] %>"
      window.iexAPIKeySecret = "<%= Rails.application.credentials.iex[:secret_access_key] %>"
    </script>
    <%= favicon_link_tag asset_path('favi.png')%> 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
